 <div class="row">
        <div class="col-md-9">
            <div ng-controller="hotelsController">

                <div >
                    <h4>Filters</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="searchTerm"/>
                        </div>
                        <div class="col-md-2">
                            <select ng-model="numberOfHotels" class="form-control">
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select ng-model="orderTerm" class="form-control">
                                <option value="name">name</option>
                                <option value="price">price</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <div class="row well"  ng-class="{'highlight' : item.price >
                            15000, 'super' : item.price > 20000}" ng-repeat="item in hotels | filter :  searchTerm | limitTo : numberOfHotels | orderBy : orderTerm">

                            <div class="col-md-2">
                                <div><button ng-click="vs.upVote(item)" class="btn btn-sm btn-default">up</button></div>
                                <div>{{item.rating}}</div>
                                <div><button ng-click="vs.downVote(item)" class="btn btn-sm btn-default">down</button></div>

                            </div>
                            <img class="col-md-2" ng-src="images/{{item.img}}" width="200px" />
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div><h4>{{item.name | uppercase}}</h4></div>
                                        <div class="text-small">{{item.location | uppercase}}</div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="h4">{{item.price | currency : 'INR'}}</div>
                                        <div>{{item.area | toMetres | number : 2 }}</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                    <span ng-hide="item.showMore">{{item.description | limitTo : 200}}</span>
                                    <span ng-show="item.showMore">{{item.description}}</span>
                                    <span ng-hide="item.description.length < 200">

                                    <a href='' ng-hide="item.showMore" ng-click="showMore(item)">... more</a></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-1">

            <div ng-controller="addController">
                <p>
                    <h2>Add Hotel</h2>
                    <div class="row">
                        <div>
                            <input type="text" ng-model="newHotel.name"/>
                        </div>
                        <div >
                            <input type="number" ng-model="newHotel.price"/>
                        </div>
                        <div >
                            <button ng-click="addHotel(newHotel.name, newHotel.price)">Click Me!</button>
                        </div>
                    </div>
                    <div>
                        <carousel images="images"></carousel>
                    </div>
                </p>
            </div>
        </div>
    </div>
