<div>
	<style type="text/css">
	input.ng-invalid.ng-dirty {
		background-color: pink;
	}

	input.ng-invalid.ng-pristine {
		border-color: pink;
		border-width: 2px
	}
</style>
	<div class="col-md-4">
		<carousel images="images"></carousel>
	</div>
	<div class="col-md-4 " >
		<div>
			<form class="form-horizontal" name="hotelsForm">
				<div class="form-group">
					<label  class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" name="vName" class="form-control" required  ng-model="newHotel.name" maxLength="30"  placeholder="Name"></div>
					<div ng-show="hotelsForm.vName.$invalid" class="row">
						<div class="col-sm-10 col-sm-offset-3">Name is required</div>
					</div>
				</div>
				<div class="form-group">
					<label  class="col-sm-2 control-label">Price</label>
					<div class="col-sm-10">
						<input type="number" min="2000" max="50000" ng-model="newHotel.price" class="form-control"  placeholder="Price"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Location</label>
					<div class="col-sm-10">
						<input type="text" ng-pattern="/" class="form-control"  placeholder="Location"></div>
				</div>
				<div class="form-group">
					<label  class="col-sm-2 control-label">IP Address</label>
					<div ng-class="{'col-sm-10' : hotelsForm.vIP.$invalid, 'col-sm-9' : hotelsForm.vIP.$valid}">
						<input type="text" ng-pattern="/\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b/" required name="vIP" ng-model="newHotel.ip" class="form-control"  placeholder="Location">
					</div>
					<div ng-show="hotelsForm.vIP.$valid" class="col-sm-1 text-success"><span class="glyphicon glyphicon-ok"></span></div>

					<div ng-show="hotelsForm.vIP.$invalid" class="row">
						<div class="col-sm-10 col-sm-offset-3">{{hotelsForm.vIP.$viewValue}} is not valid</div>
					</div>
				</div>
				<div class="form-group">
					<label  class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<textarea class="form-control"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button ng-disabled="hotelsForm.$invalid" class="btn btn-success" ng-click="addHotel(newHotel)">Create</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="col-md-4">
		<div class="row" ng-repeat='item in newHotel.amenities'>
			<div class="col-md-8">{{item.name}}</div>
			<div class="col-md-4"><button class="btn btn-sm btn-default">edit</button></div>
		</div>
		<div class="row">
			<div class="col-md-8"><input type="text" ng-model="newAmenity" /></div>
			<div class="col-md-4"><button ng-click="addAmenity(newAmenity)">add</button>	</div>
		</div>
		
	</div>

</div>