<html ng-app="myApp" >
<head>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"></head>
    <style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
</style>
<body ng-controller="mainController" ng-cloak class="container">
    <h1 style="color:blue">{{greeting}}, {{company.name}}</h1>
    <input type="text" value="{{company.location}}"/>
    <hr/>
    <p>
        Show only
        <select ng-model="numberOfHotels">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
        </select>
        Hotels
    </p>
    <p>
        <input type="checkbox" ng-checked="hotels.length >0" />Has hotels</p>
    <p>
        <input type="checkbox" ng-model="showHotels" />
        Show Hotels
    </p>
    <p>
        <button ng-click="clicker()">Click Me!</button>
    </p>
    <div ng-hide="hotels.length >
        3 && !showHotels">
        <h2>Hotels</h2>
        <div class="row" ng-class="{'highlight' : item.price >
            15000, 'super' : item.price > 20000}" ng-repeat="item in hotels">
            <div>
                <img ng-src="images/{{item.img}}" width="200px" />
            </div>
            <div>{{item.name}}</div>
        </div>
    </div>
    <hr/>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>